<html>
<head>

 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="container">
    <button type="button" class="btn btn-outline-info back" (click)="back()">Back</button>
<h1>{{stateid}}<h6>Pending Requests...</h6></h1>


<table class="table">
    <thead>
  <tr>
    <th>CITY</th>
    <th>HOTEL NAME</th>
  <th>CHECK REQUEST</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>CITY 1</td>
    <td>HOTEL 1</td>
    <td><button type="button" class="btn btn-outline-info">View</button></td>
  </tr>
</tbody>

<tbody>
  <tr>
    <td>CITY 2</td>
    <td>HOTEL 2</td>
    <td><button type="button" class="btn btn-outline-info">View</button></td>
  </tr>
</tbody>

<tbody>
  <tr>
    <td>CITY 3</td>
    <td>HOTEL 3</td>
    <td><button type="button" class="btn btn-outline-info">View</button></td>
  </tr>
</tbody>

</table>

</body>
</html>