<!--<div class="row">
    <div class="column">
        <div class="card">
           
        </div>
        
        
    </div>
    <div class="column">
        <div class="main">
            <p class="sign">Admin Login </p>
            <form class="form1">
                <input class="un" type="text" placeholder="username">
                <input class="pass" type="password" placeholder="password">
                <button class="submit" (click)="logIn()">Sign In</button>
            </form>
        </div>
    </div>
    <div class="column">
        <div class="card2">

        </div>
        
    </div>
    
</div>
-->